body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    font-family: sans-serif;
    background-image: repeating-radial-gradient(#E3F3FF, #FFFFFF);
}

.text{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

h1, h2{
    font-family:coconat;
}

@media only screen and (max-width: 768px) {

    header{
        height: 27px;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        justify-content: space-around;
        flex-basis: auto;
    }

    button{
        border: 0;
        padding: 0;
        background: rgba(255, 122, 89, 0);
        font-weight: bold;
        font-size: 25px;
        font-family:coconat;
    }

    .navbar{
        border-style: none;
        background: rgba(255, 122, 89, 0);
    }

    .navbar-nav{
        background-color: #222;
        border-style: solid;
        border-color: #080808;
        border-width: 1px;
        border-radius: 4px;
    }

}
@media only screen and (min-width: 768px) {
    button{
        visibility: hidden;
    }
    .nav-collapse.collapse{
        display: block!important;
    }
}

img{
    max-width: 500px;
}

.item{
    border-width: 5px;
    border-style: dotted;
    border-color: #600038;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

#button{
    margin-bottom: 30px;
    color: #600038;
    background-color: #E3F3FF;
    font-weight: bold;
}

.btn{
    margin-bottom: 30px;
    color: #600038;
    background-color: #E3F3FF;
    font-weight: bold;
    border-color: #600038;
}